Assignment 3

 Problem statement 1

In [1]:
import scipy.stats as stats

In [2]:
x = int(input())

172

In [4]:
# 90% confidence interval
n = 200   # Total no. of customers
p = x/n   # Proporation of highly satisfied customers
p

0.86

In [5]:
z = stats.norm.ppf(0.95)    # ppf means percent point function
z

1.6448536269514722

In [6]:
se = (p*(1-p)/n)**0.5  # standart error of proportion
se

0.024535688292770596

In [8]:
margin_of_error = z*se
margin_of_error

0.04035761587811449

In [9]:
# confidence interval
C_I_lower = p - margin_of_error
C_I_upper = p + margin_of_error

In [12]:
# print the CI values rounded up to five decimal places

In [14]:
print(round(C_I_lower,5),round(C_I_upper,5))

0.81964 0.90036

problem statement 2

In [16]:
x = int(input())
x

100

100

In [17]:
# Given
mean = 75
std = 15

In [18]:
z_score = (x - mean )/std

In [19]:
# cumulative distribution function
probability = 1 - stats.norm.cdf(z_score)

In [20]:
print(round(probability,4))

0.0478

problem statement 3

In [21]:
import pandas as pd

In [24]:
df = pd.read_csv("Kerala1.csv")
df

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
0,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,73.4,386.2,2122.8,666.1
1,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,9.3,275.7,2403.4,638.2
2,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,21.7,336.3,2343.0,570.1
3,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,26.7,339.4,2398.2,365.3
4,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,23.4,378.5,1881.5,458.1

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    5 non-null      int64
 1   JAN     5 non-null      float64
 2   FEB     5 non-null      float64
 3   MAR     5 non-null      float64
 4   APR     5 non-null      float64
 5   MAY     5 non-null      float64
 6   JUN     5 non-null      float64
 7   JUL     5 non-null      float64
 8   AUG     5 non-null      float64
 9   SEP     5 non-null      float64
 10  OCT     5 non-null      float64
 11  NOV     5 non-null      float64
 12  DEC     5 non-null      float64
 13  ANNUAL  5 non-null      float64
 14  JF      5 non-null      float64
 15  MAM     5 non-null      float64
 16  JJAS    5 non-null      float64
 17  OND     5 non-null      float64
dtypes: float64(17), int64(1)
memory usage: 848.0 bytes
None

In [26]:
print(df.describe())

              YEAR        JAN        FEB        MAR         APR         MAY  \
count     5.000000   5.000000   5.000000   5.000000    5.000000    5.000000
mean   1903.000000  12.700000  18.240000  30.720000  100.980000  211.580000
std       1.581139  12.604563  17.274345  24.300556   35.250631   54.798102
min    1901.000000   1.200000   2.600000   3.100000   71.500000  134.500000
25%    1902.000000   3.200000   3.000000   9.400000   83.600000  174.700000
50%    1903.000000   6.700000  18.600000  32.200000   83.900000  235.700000
75%    1904.000000  23.700000  22.300000  51.600000  105.900000  249.700000
max    1905.000000  28.700000  44.700000  57.300000  160.000000  263.300000

               JUN          JUL         AUG         SEP         OCT  \
count     5.000000     5.000000    5.000000    5.000000    5.000000
mean    744.500000   843.300000  347.780000  294.200000  338.200000
std     274.901782   269.757437   48.253207  124.082654   44.437147
min     390.900000   520.500000  293.600000  197.700000  266.900000
25%     558.600000   725.500000  315.800000  217.200000  328.100000
50%     824.600000   743.000000  351.800000  222.700000  354.100000
75%     850.200000  1022.500000  357.500000  341.800000  358.400000
max    1098.200000  1205.000000  420.200000  491.600000  383.500000

              NOV         DEC       ANNUAL        JF         MAM        JJAS  \
count    5.000000    5.000000     5.000000   5.00000    5.000000     5.00000
mean   154.880000   46.480000  3143.540000  30.90000  343.220000  2229.78000
std    121.977486   49.484311   235.898788  24.65431   43.912948   225.87145
min     33.900000    0.200000  2741.600000   9.30000  275.700000  1881.50000
25%     74.400000    3.300000  3129.700000  21.70000  336.300000  2122.80000
50%    157.000000   48.400000  3248.600000  23.40000  339.400000  2343.00000
75%    158.300000   59.000000  3271.200000  26.70000  378.500000  2398.20000
max    350.800000  121.500000  3326.600000  73.40000  386.200000  2403.40000

            OND
count    5.0000
mean   539.5600
std    126.1717
min    365.3000
25%    458.1000
50%    570.1000
75%    638.2000
max    666.1000

In [27]:
df_new = pd.DataFrame()
df_new['YEAR'] = df['YEAR']
df_new['JUN_GT_500'] = df['JUN'] > 500
df_new['JUL_GT_500'] = df['JUL'] > 500
df_new['FLOODS'] = df_new['JUN_GT_500'] | df_new['JUL_GT_500']

In [28]:
df_new

   YEAR  JUN_GT_500  JUL_GT_500  FLOODS
0  1901        True        True    True
1  1902       False        True    True
2  1903        True        True    True
3  1904        True        True    True
4  1905        True        True    True

In [31]:
# calculate the probability of flood given it rained more than 500mm in june
p_A_given_B = df_new[df_new['JUN_GT_500']]['FLOODS'].mean()

In [32]:
# calculate the probability of rain more than 500mm in june, given flooded that year
p_B_given_A = df_new[df_new['FLOODS']]['JUN_GT_500'].mean()

In [33]:
# calculate the probability of flood given it rained more than 500mm in july
p_A_given_B_july = df_new[df_new['JUL_GT_500']]['FLOODS'].mean()

In [34]:
# Calculate the probability of rain more than 500mm in july, given it flooded that year
p_B_given_A_july = df_new[df_new['FLOODS']]['JUL_GT_500'].mean()

In [35]:
print(p_A_given_B )
print(p_B_given_A)
print(p_A_given_B_july)
print(p_B_given_A_july)

1.0
0.8
1.0
1.0

problem statement 4

In [45]:
from sklearn.datasets import load_wine
wine=load_wine()

In [46]:
df = pd.DataFrame(wine.data, columns=wine.feature_names)

In [48]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [50]:
# Generate a sample size of 50 with random state 100
sample = df.sample(n=50,random_state=100)
sample.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
88,11.64,2.06,2.46,21.6,84.0,1.95,1.69,0.48,1.35,2.80,1.00,2.75,680.0
159,13.48,1.67,2.64,22.5,89.0,2.60,1.10,0.52,2.29,11.75,0.57,1.78,620.0
11,14.12,1.48,2.32,16.8,95.0,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280.0
74,11.96,1.09,2.30,21.0,101.0,3.38,2.14,0.13,1.65,3.21,0.99,3.13,886.0
158,14.34,1.68,2.70,25.0,98.0,2.80,1.31,0.53,2.70,13.00,0.57,1.96,660.0

In [52]:
# calculating z-critical, margin of error, CI for alcohol at 95% significance interval
sample_mean = sample['alcohol'].mean()
sample_std = sample['alcohol'].std()
n = len(sample)
n

50

In [53]:
z_critical = stats.norm.ppf(0.975) # 95% confidence interval

In [54]:
margin_of_error = z_critical * (sample_std/(n ** 0.5))
# confidence interval
C_I_lower = sample_mean - margin_of_error
C_I_upper = sample_mean + margin_of_error

In [55]:
print(z_critical)
print(margin_of_error)
print(C_I_lower)
print(C_I_upper)

1.959963984540054
0.2130595344634679
12.760540465536533
13.18665953446347